<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>OpenCV</title>
</head>
<body>
    <h1>openCV deteccion de paredes rojas</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    <input type="file" accept="image/*" capture="camera">
</body>
</html>